<div class="container" style="max-width: 1000px;">
  <div class="row">&nbsp;</div>
  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="col-md-12">
      <div class="appCallout">
        Address Maintenance
      </div>
    </div>
  </div>
  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="col-md-2">
      <button type="button" (click)="addAddress()" class="btn btn-primary">Add Address</button>
    </div>
    <div class="col-md-2">
      <button type="button" (click)="editAddress()" [disabled]="rowIsSelected === false" class="btn btn-primary">Edit Address</button>
    </div>
    <div class="col-md-2">
      <button type="button" (click)="deleteAddress()" [disabled]="rowIsSelected === false" class="btn btn-primary">Delete Address</button>
    </div>
  </div>
  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="col-md-12">
      <ag-grid-angular #agGrid
                       style="width: 900px; height: 500px;"
                       class="ag-theme-dark"
                       [enableSorting]="true"
                       [enableFilter]="true"
                       [suppressClickEdit]="true"
                       rowSelection="single"
                       [enableColResize]="true"
                       [pagination]="true"
                       [paginationPageSize]="10"
                       [rowData]="rowData"
                       [columnDefs]="columnDefs"
                       (selectionChanged)="onSelectionChanged($event)"
                       (gridReady)="onGridReady($event)">
      </ag-grid-angular>
    </div>
  </div>
  <div class="row">&nbsp;</div>
  <p-toast></p-toast>
  <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog>
  <p-dialog header="Edit Address" [(visible)]="displayEdit">
    <div class="row">
      <div class="col-md-3">Address Line 1</div>
      <div class="col-md-6">
        <input type="text" pInputText [(ngModel)]="addressToEdit.addressLine1" />
      </div>
      <div class="col-md-3">&nbsp;</div>
    </div>
    <div class="row">
      <div class="col-md-3">Address Line 2</div>
      <div class="col-md-6">
        <input type="text" pInputText [(ngModel)]="addressToEdit.addressLine2" />
      </div>
      <div class="col-md-3">&nbsp;</div>
    </div>
    <div class="row">
      <div class="col-md-3">Address Line 3</div>
      <div class="col-md-6">
        <input type="text" pInputText [(ngModel)]="addressToEdit.addressLine3" />
      </div>
      <div class="col-md-3">&nbsp;</div>
    </div>
    <div class="row">
      <div class="col-md-3">City</div>
      <div class="col-md-6">
        <input type="text" pInputText [(ngModel)]="addressToEdit.city" />
      </div>
      <div class="col-md-3">&nbsp;</div>
    </div>
    <div class="row">
      <div class="col-md-3">State</div>
      <div class="col-md-6">
        <input type="text" pInputText [(ngModel)]="addressToEdit.state" />
      </div>
      <div class="col-md-3">&nbsp;</div>
    </div>
    <div class="row">
      <div class="col-md-3">Postal Code</div>
      <div class="col-md-6">
        <input type="text" pInputText [(ngModel)]="addressToEdit.postalCode" />
      </div>
      <div class="col-md-3">&nbsp;</div>
    </div>
    <p-footer>
      <div class="row">
        <div class="col-md-3">&nbsp;</div>
        <div class="col-md-3">
          <p-button label="Save" (click)="saveEditClick($event)"></p-button>
        </div>
        <div class="col-md-3">
          <p-button label="Cancel" (click)="cancelEditClick($event)"></p-button>
        </div>
        <div class="col-md-3">&nbsp;</div>
      </div>
    </p-footer>
  </p-dialog>
  <p-dialog header="Add Address" [(visible)]="displayAdd">
    <div class="row">
      <div class="col-md-3">Address Line 1</div>
      <div class="col-md-6">
        <input type="text" pInputText [(ngModel)]="addressToEdit.addressLine1" />
      </div>
      <div class="col-md-3">&nbsp;</div>
    </div>
    <div class="row">
      <div class="col-md-3">Address Line 2</div>
      <div class="col-md-6">
        <input type="text" pInputText [(ngModel)]="addressToEdit.addressLine2" />
      </div>
      <div class="col-md-3">&nbsp;</div>
    </div>
    <div class="row">
      <div class="col-md-3">Address Line 3</div>
      <div class="col-md-6">
        <input type="text" pInputText [(ngModel)]="addressToEdit.addressLine3" />
      </div>
      <div class="col-md-3">&nbsp;</div>
    </div>
    <div class="row">
      <div class="col-md-3">City</div>
      <div class="col-md-6">
        <input type="text" pInputText [(ngModel)]="addressToEdit.city" />
      </div>
      <div class="col-md-3">&nbsp;</div>
    </div>
    <div class="row">
      <div class="col-md-3">State</div>
      <div class="col-md-6">
        <input type="text" pInputText [(ngModel)]="addressToEdit.state" />
      </div>
      <div class="col-md-3">&nbsp;</div>
    </div>
    <div class="row">
      <div class="col-md-3">Postal Code</div>
      <div class="col-md-6">
        <input type="text" pInputText [(ngModel)]="addressToEdit.postalCode" />
      </div>
      <div class="col-md-3">&nbsp;</div>
    </div>
    <p-footer>
      <div class="row">
        <div class="col-md-3">&nbsp;</div>
        <div class="col-md-3">
          <p-button label="Save" (click)="saveAddClick($event)"></p-button>
        </div>
        <div class="col-md-3">
          <p-button label="Cancel" (click)="cancelAddClick($event)"></p-button>
        </div>
        <div class="col-md-3">&nbsp;</div>
      </div>
    </p-footer>
  </p-dialog>
  <div class="row">&nbsp;</div>
  <div class="row">&nbsp;</div>
</div>
