<configuration>
  <connectionStrings>
    <add name="myDbContext" 
         providerName="System.Data.SqlClient"
         connectionString="Server=(localdb)\MSSQLLocalDB;Database=BTA;AttachDbFilename=F:\R_D\mcdoma2000\TreasurersApp\TreasurersApp\wwwroot\Content\Database\BTA.mdf;MultipleActiveResultSets=true"
         />
  </connectionStrings>
</configuration>