<div #contributorMaintenance id="contributor-maintenance" class="container" style="max-width: 1000px;">
  <p-blockUI [blocked]="uiBlocked"></p-blockUI>
  <div class="row">&nbsp;</div>
  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="col-md-12">
      <div class="appCallout">
        Contributor Maintenance
      </div>
    </div>
  </div>
  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="col-md-2">
      <button type="button" (click)="addContributor()" class="btn btn-primary" style="width: 100%;">Add</button>
    </div>
    <div class="col-md-2">
      <button type="button" (click)="editContributor()" [disabled]="rowIsSelected === false" class="btn btn-primary" style="width: 100%;">Edit</button>
    </div>
    <div class="col-md-2">
      <button type="button" (click)="deleteContributor()" [disabled]="rowIsSelected === false" class="btn btn-primary" style="width: 100%;">Delete</button>
    </div>
    <div class="col-md-4">&nbsp;</div>
    <div class="col-md-2">
      <button id="refresh-grid-data-button" type="button" (click)="refreshGridData()" class="btn btn-primary">Refresh Grid</button>
    </div>
  </div>
  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="col-md-12">
      <dx-data-grid #contributorGrid
                    [dataSource]="rowData"
                    keyExpr="id"
                    [rowAlternationEnabled]="true"
                    [showBorders]="true"
                    [showColumnLines]="true"
                    [showRowLines]="true"
                    (onRowClick)="onRowClick($event)">
        <dxo-selection [mode]="'single'"></dxo-selection>
        <dxo-paging [enabled]="true" [pageIndex]="0" [pageSize]="10"></dxo-paging>
        <dxo-pager [visible]="true"
                   [allowedPageSizes]="[10,20]"
                   [infoText]="'Page {0} of {1} ({2} Contributors)'"
                   [showInfo]="true"
                   [showPageSizeSelector]="true"
                   [showNavigationButtons]="true"></dxo-pager>
        <dxi-column dataField="firstName" caption="First Name"></dxi-column>
        <dxi-column dataField="middleName" caption="Middle Name"></dxi-column>
        <dxi-column dataField="lastName" caption="Last Name"></dxi-column>
        <dxi-column dataField="emailAddress" caption="Preferred Email"></dxi-column>
        <dxi-column dataField="phoneNumber" caption="Preferred Phone"></dxi-column>
        <dxi-column dataField="addressText" caption="Preferred Address"></dxi-column>
      </dx-data-grid>
    </div>
  </div>
  <div class="row">&nbsp;</div>
  <p-toast></p-toast>
  <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog>
  <p-dialog header="Edit Contributor" [(visible)]="displayEdit" [style]='{"min-width": "800px", "min-height":"800px"}'>
    <div class="row">
      <div class="col-md-12">
        <p-tabView [style]="{width: '700px',height: '400px'}">
          <p-tabPanel header="Main" leftIcon="pi pi-user">
            <div class="row" style="padding-bottom: 5px;">
                <div class="col-md-3">First Name</div>
                <div class="col-md-9">
                  <input type="text" pInputText [(ngModel)]="contributorToEdit.firstName" required />
                </div>
              </div>
              <div class="row" style="padding-bottom: 5px;">
                <div class="col-md-3">Middle Name</div>
                <div class="col-md-9">
                  <input type="text" pInputText [(ngModel)]="contributorToEdit.middleName" />
                </div>
              </div>
              <div class="row" style="padding-bottom: 5px;">
                <div class="col-md-3">Last Name</div>
                <div class="col-md-9">
                  <input type="text" pInputText [(ngModel)]="contributorToEdit.lastName" required />
                </div>
            </div>
          </p-tabPanel>
          <p-tabPanel header="Address" leftIcon="pi pi-envelope">
            <div class="row" style="padding-bottom: 5px;">
              <div class="col-md-3">Address ID</div>
              <div class="col-md-9">
                <p-dropdown
                  [options]="addresses"
                  placeholder="Select an Address"
                  [(ngModel)]="contributorToEdit.addressId"
                  >
                </p-dropdown>
              </div>
            </div>
          </p-tabPanel>
          <p-tabPanel header="Phone" leftIcon="pi pi-mobile">
            <div class="row" style="padding-bottom: 5px;">
              <div class="col-md-3">Phone ID</div>
              <div class="col-md-9">
                <p-dropdown
                  [options]="addresses"
                  placeholder="Select an Address"
                  [(ngModel)]="contributorToEdit.addressId"
                  >
                </p-dropdown>
              </div>
            </div>
          </p-tabPanel>
          <p-tabPanel header="Email" leftIcon="pi pi-inbox">
              <div class="row" style="padding-bottom: 5px;">
                <div class="col-md-3">Email ID</div>
                <div class="col-md-9">
                  <p-dropdown
                    [options]="addresses"
                    placeholder="Select an Address"
                    [(ngModel)]="contributorToEdit.addressId"
                    >
                  </p-dropdown>
                </div>
              </div>
            </p-tabPanel>
        </p-tabView>
      </div>
    </div>
    <p-footer>
      <div class="row">
        <div class="col-md-3">&nbsp;</div>
        <div class="col-md-3">
          <p-button label="Save" (click)="saveEditClick($event)"></p-button>
        </div>
        <div class="col-md-3">
          <p-button label="Cancel" (click)="cancelEditClick($event)"></p-button>
        </div>
        <div class="col-md-3">&nbsp;</div>
      </div>
    </p-footer>
  </p-dialog>
  <p-dialog header="Add Contributor" [(visible)]="displayAdd">
    <div class="row">
      <div class="col-md-12">
        <p-tabView [style]="{width: '700px',height: '400px'}">
          <p-tabPanel header="Main" leftIcon="pi pi-user">
            <div class="row" style="padding-bottom: 5px;">
                <div class="col-md-3">First Name</div>
                <div class="col-md-9">
                  <input type="text" pInputText [(ngModel)]="contributorToEdit.firstName" required />
                </div>
              </div>
              <div class="row" style="padding-bottom: 5px;">
                <div class="col-md-3">Middle Name</div>
                <div class="col-md-9">
                  <input type="text" pInputText [(ngModel)]="contributorToEdit.middleName" />
                </div>
              </div>
              <div class="row" style="padding-bottom: 5px;">
                <div class="col-md-3">Last Name</div>
                <div class="col-md-9">
                  <input type="text" pInputText [(ngModel)]="contributorToEdit.lastName" required />
                </div>
            </div>
          </p-tabPanel>
          <p-tabPanel header="Address" leftIcon="pi pi-envelope">
            <div class="row" style="padding-bottom: 5px;">
              <div class="col-md-3">Address</div>
              <div class="col-md-9">
                <p-picklist [source]="addresses" sourceHeader="Available Addresses" [target]="contributorToEdit.addresses" targetHeader="Selected Addresses">
                </p-picklist>
              </div>
            </div>
          </p-tabPanel>
          <p-tabPanel header="Phone" leftIcon="pi pi-mobile">
            <div class="row" style="padding-bottom: 5px;">
              <div class="col-md-3">Phone Number</div>
              <div class="col-md-9">
                  <p-picklist [source]="phoneNumbers" sourceHeader="Available Phone Numbers" [target]="contributorToEdit.phoneNumbers" targetHeader="Selected Phone Numbers">
                  </p-picklist>
              </div>
            </div>
          </p-tabPanel>
          <p-tabPanel header="Email" leftIcon="pi pi-inbox">
              <div class="row" style="padding-bottom: 5px;">
                <div class="col-md-3">Email Address</div>
                <div class="col-md-9">
                  <p-picklist [source]="phoneNumbers" sourceHeader="Available Emails" [target]="contributorToEdit.emailAddresses" targetHeader="Selected Emails">
                  </p-picklist>
                </div>
              </div>
          </p-tabPanel>
        </p-tabView>
      </div>
    </div>
    <p-footer>
      <div class="row">
        <div class="col-md-3">&nbsp;</div>
        <div class="col-md-3">
          <p-button label="Save" (click)="saveAddClick($event)"></p-button>
        </div>
        <div class="col-md-3">
          <p-button label="Cancel" (click)="cancelAddClick($event)"></p-button>
        </div>
        <div class="col-md-3">&nbsp;</div>
      </div>
    </p-footer>
  </p-dialog>
  <div class="row">&nbsp;</div>
  <div class="row">&nbsp;</div>
</div>
